<!-- <div class="error-page">
    <div class="content">
        <h1>4<img src="../../../assets/gear.png" alt="">4</h1>
    </div>
    <div class="btns">
        <h1>Oops, <b>nothing</b> here...</h1>
        <button (click)="goBack()"> <i class="fas fa-chevron-circle-left"></i> Go Back</button>
    </div>
</div> -->

<div class="container-fluid content">
    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Page Not Found</p>
        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
        <a (click)="goBack()" href="">&larr; Back to Dashboard</a>
    </div>

</div>